<div class="dropdown w-full flex justify-center">
  <div [tabIndex]="theme().idx" role="button" class="btn m-1">
    Theme
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
    >
      <path
        d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <ul
    [tabIndex]="theme().idx"
    class="dropdown-content bg-base-300 rounded-box z-[1] w-fit p-2 shadow-2xl max-h-56 overflow-y-auto top-14"
  >
    @for (item of themes; track $index) {
      <li (click)="setTheme({ activeTheme: item, idx: $index })">
        <input
          type="radio"
          name="theme-dropdown"
          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
          [ariaLabel]="item"
          [value]="item"
        />
      </li>
    }
  </ul>
</div>
