<div class="drawer-overlay absolute z-50 h-full">
  <input
    id="form-drawer"
    type="checkbox"
    class="drawer-toggle w-fit"
    [checked]="showForm()"
  />
  <div class="drawer-side">
    <label
      for="form-drawer"
      aria-label="close sidebar"
      (click)="resetAndToggleForm()"
      class="drawer-overlay"
    >
    </label>
    <form
      [formGroup]="productForm"
      (submit)="
        productId$.getValue() ? handleUpdate($event) : handleSubmit($event)
      "
      class="menu bg-base-200 text-base-content min-h-full w-full md:w-1/3 p-4"
    >
      <div class="form-control space-y-2">
        <span>
          <label class="label">
            <span class="label-text">
              Product Name
              <sup class="text-red-500 text-xs">&ast;</sup>
            </span>
          </label>
          <input
            type="text"
            class="input input-bordered w-full"
            [class.input-error]="isFieldInvalid('name')"
            formControlName="name"
          />
        </span>

        <span>
          <label class="label">
            <span class="label-text-alt">
              Select a category
              <sup class="text-red-500 text-xs">&ast;</sup>
            </span>
          </label>
          <span class="dropdown w-full">
            <input
              class="input input-bordered w-full"
              formControlName="category"
              [class.input-error]="isFieldInvalid('category')"
              (keyup)="handleInput($event)"
            />
            <ul
              tabindex="0"
              class="dropdown-content menu bg-base-300 z-[1] w-full shadow"
              [class.hidden]="!showCategorySelect()"
            >
              @for (item of keys(categories()); track $index) {
                <li
                  role="menuitem"
                  (click)="selectCategory(item)"
                  class="cursor-pointer p-2 hover:bg-primary hover:text-primary-content"
                >
                  {{ item }}
                </li>
              }
            </ul>
          </span>
        </span>

        <span>
          <label class="label">
            <span class="label-text-alt">
              Price
              <sup class="text-red-500 text-xs">&ast;</sup>
            </span>
          </label>
          <input
            type="number"
            class="input input-bordered w-full"
            formControlName="price"
            [class.input-error]="isFieldInvalid('price')"
          />
        </span>

        <span>
          <label class="label">
            <span class="label-text-alt"> Description </span>
            <p
              class="text-xs text-gray-500"
              [class.text-error]="
                remaingCharactersCount('description', 250) < 0
              "
            >
              remaining: {{ remaingCharactersCount("description", 250) }}/250
            </p>
          </label>
          <textarea
            class="textarea textarea-bordered h-40 w-full"
            [class.input-error]="isFieldInvalid('description')"
            formControlName="description"
          ></textarea>
        </span>

        <span>
          <label class="label">
            <span class="label-text-alt">
              Quantity
              <sup class="text-red-500 text-xs">&ast;</sup>
            </span>
            <p class="text-xs text-gray-500">
              max value: {{ maxQuantity$.getValue() }}
            </p>
          </label>
          <input
            type="number"
            class="input input-bordered w-full"
            formControlName="quantity"
            [max]="maxQuantity$.getValue()"
            [class.input-error]="isFieldInvalid('quantity')"
          />
        </span>

        <span>
          <label class="label">
            <span class="label-text-alt">
              Created At
              <sup class="text-red-500 text-xs">&ast;</sup>
            </span>
          </label>
          <input
            type="date"
            class="input input-bordered w-full"
            [class.input-error]="isFieldInvalid('createdAt')"
            formControlName="createdAt"
          />
        </span>

        <span>
          <label class="label">
            <span class="label-text-alt"> Select an image </span>
          </label>
          @if (image$.getValue().length) {
            <img [src]="image$.getValue()" class="w-36 aspect-square" />
          }
          <input
            (change)="onFileChange($event)"
            type="file"
            class="file-input file-input-bordered w-full"
          />
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-success mt-4"
        [disabled]="productForm.invalid"
      >
        {{ productId$.getValue() ? "Update" : "Submit" }}
      </button>
      <button
        (click)="resetAndToggleForm()"
        type="button"
        aria-label="close form"
        class="btn btn-neutral mt-2"
      >
        close
      </button>
    </form>
  </div>
</div>
