<div class="drawer-overlay absolute z-50 h-full">
  <input
    id="form-drawer"
    type="checkbox"
    class="drawer-toggle w-fit"
    [checked]="showForm()"
  />
  <div class="drawer-side">
    <label
      for="form-drawer"
      aria-label="close sidebar"
      (click)="resetAndToggleForm()"
      class="drawer-overlay"
    >
    </label>
    <form
      [formGroup]="productForm"
      (submit)="productId() ? handleUpdate() : handleSubmit()"
      class="menu bg-base-200 text-base-content min-h-full w-full md:w-1/3 p-4"
    >
      <div class="form-control">
        <label class="label">
          <span class="label-text">
            Product Name
            <sup class="text-red-500 text-xs">&ast;</sup>
          </span>
        </label>
        <input
          type="text"
          class="input input-bordered"
          [class.input-error]="
            productForm.get('name')?.invalid &&
            (productForm.get('name')?.touched || productForm.get('name')?.dirty)
          "
          formControlName="name"
        />
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">
              Select a category
              <sup class="text-red-500 text-xs">&ast;</sup>
            </span>
          </div>
          <select formControlName="category" class="select select-bordered">
            <option disabled selected>Pick one</option>
            <option>Star Wars</option>
            <option>Harry Potter</option>
            <option>Lord of the Rings</option>
            <option>Planet of the Apes</option>
            <option>Star Trek</option>
          </select>
        </label>
        <label class="label">
          <span class="label-text-alt">
            Price
            <sup class="text-red-500 text-xs">&ast;</sup>
          </span>
        </label>
        <input
          type="number"
          class="input input-bordered"
          formControlName="price"
          [class.input-error]="
            productForm.get('price')?.invalid &&
            (productForm.get('price')?.touched ||
              productForm.get('price')?.dirty)
          "
        />
        <label class="label">
          <span class="label-text-alt"> Description </span>
        </label>
        <textarea
          class="textarea textarea-bordered"
          formControlName="description"
        ></textarea>
        <label class="label">
          <span class="label-text-alt">
            Quantity
            <sup class="text-red-500 text-xs">&ast;</sup>
          </span>
        </label>
        <input
          type="number"
          class="input input-bordered"
          formControlName="quantity"
          [class.input-error]="
            productForm.get('quantity')?.invalid &&
            (productForm.get('quantity')?.touched ||
              productForm.get('quantity')?.dirty)
          "
        />
        <label class="label">
          <span class="label-text-alt">
            Created At
            <sup class="text-red-500 text-xs">&ast;</sup>
          </span>
        </label>
        <input
          type="date"
          class="input input-bordered"
          [class.input-error]="
            productForm.get('createdAt')?.invalid &&
            (productForm.get('createdAt')?.touched ||
              productForm.get('createdAt')?.dirty)
          "
          formControlName="createdAt"
        />
      </div>
      <button
        type="submit"
        class="btn btn-success mt-4"
        [disabled]="productForm.invalid"
      >
        {{ productId() ? "Update" : "Submit" }}
      </button>
      <button
        (click)="resetAndToggleForm()"
        type="button"
        aria-label="close form"
        class="btn btn-neutral mt-2"
      >
        close
      </button>
    </form>
  </div>
</div>
