<div class="btm-nav md:hidden z-30">
  <div class="text-info">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="5" cy="19" r="1" fill="currentColor" />
      <path fill="currentColor" d="M4 4h2v9H4z" />
      <path
        fill="currentColor"
        d="M7 2H3a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1m0 19H3V3h4Z"
      />
      <circle cx="12" cy="19" r="1" fill="currentColor" />
      <path fill="currentColor" d="M11 4h2v9h-2z" />
      <path
        fill="currentColor"
        d="M14 2h-4a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1m0 19h-4V3h4Z"
      />
      <circle cx="19" cy="19" r="1" fill="currentColor" />
      <path fill="currentColor" d="M18 4h2v9h-2z" />
      <path
        fill="currentColor"
        d="M21 2h-4a1 1 0 0 0-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1m0 19h-4V3h4Z"
      />
    </svg>
  </div>

  <app-show-form-btn (toggleForm)="toggleForm.emit($event)" />

  <div class="drawer-overlay">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle w-fit" />
    <div class="drawer-content">
      <label for="nav-drawer" class="drawer-button btn btn-info btn-circle">
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 aspect-square"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1"
            clip-rule="evenodd"
          />
        </svg>
      </label>
    </div>
    <div class="drawer-side">
      <label
        for="nav-drawer"
        aria-label="close sidebar"
        class="drawer-overlay"
      ></label>
      <ul
        class="menu bg-base-100 text-base-content min-h-full w-80 p-4 form-control"
      >
        <app-theme-switcher />
      </ul>
    </div>
  </div>
</div>
