<div
  class="btm-nav md:hidden z-30 grid grid-cols-3 place-items-center bg-base-200"
>
  <button class="btn btn-primary flex justify-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 aspect-square"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
      />
    </svg>
  </button>

  <app-show-form-btn (toggleForm)="toggleForm.emit($event)" />

  <div class="drawer-overlay">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle w-fit" />
    <div class="drawer-content">
      <label for="nav-drawer" class="drawer-button btn btn-primary">
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 aspect-square"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1"
            clip-rule="evenodd"
          />
        </svg>
      </label>
    </div>
    <div class="drawer-side">
      <label
        for="nav-drawer"
        aria-label="close sidebar"
        class="drawer-overlay select-none"
      ></label>
      <ul
        class="menu bg-base-100 text-base-content min-h-full w-80 p-4 form-control items-center"
      >
        <app-theme-switcher />
      </ul>
    </div>
  </div>
</div>
