<div class="w-full md:w-3/4 flex items-center justify-between mx-auto gap-3">
  <input
    type="text"
    (keyup)="handleSearch(getValue($event))"
    placeholder="Type here"
    class="input input-bordered w-full flex flex-grow"
  />
  <div class="w-fit flex flex-col items-center gap-2">
    <input
      [checked]="enableDebounce.getValue()"
      (change)="toggleDbounce()"
      type="checkbox"
      class="toggle bg-base-300"
      [class.bg-base-content]="enableDebounce.getValue()"
    />
    <p class="text-xs whitespace-nowrap">debounce</p>
  </div>
</div>
