<div class="card card-compact bg-base-300 h-96 w-full shadow-xl">
  <figure class="overflow-hidden w-full relative h-fit">
    <img
      [src]="product.image?.length ? product.image! : '/default.png'"
      width="400"
      height="400"
      class="w-full aspect-square overflow-clip p-4"
      [alt]="product.name"
    />
  </figure>
  <div class="card-body space-y-2">
    <div class="card-title justify-between">
      <h2>{{ product.name }}</h2>
      <h6 class="text-sm badge badge-neutral min-w-12">
        {{ product.category }}
      </h6>
    </div>
    @if (product.description?.length) {
      <p>
        {{ product.description }}
      </p>
    }
    <span class="flex w-full gap-2">
      <p class="badge badge-primary">Quantity: {{ product.quantity }}</p>
      <p class="badge badge-primary">Price: {{ product.price }}</p>
      <p class="badge badge-primary">
        Total: {{ num(product.price) * num(product.quantity) }}
      </p>
    </span>
    <div class="card-actions justify-end">
      <app-product-action-buttons [id]="product.id!" />
    </div>
  </div>
</div>
