<!-- <div class="card bg-base-100 image-full w-full shadow-xl relative z-10">
  <figure>
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ product.name }}</h2>
    <p>
      {{
        product.description?.length
          ? product.description
          : "No description available"
      }}
    </p>
    <div class="card-actions justify-end">
      <app-product-action-buttons [id]="product.id!" />
    </div>
  </div>
</div> -->
<div
  class="card card-compact bg-base-300 h-96 w-full shadow-xl overflow-hidden"
>
  <figure class="overflow-hidden w-full relative">
    <img
      [src]="
        product.image?.length
          ? product.image!
          : 'https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'
      "
      width="400"
      height="400"
      class="w-full overflow-hidden"
      [alt]="product.name"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ product.name }}</h2>
    <p>
      {{
        product.description?.length
          ? product.description
          : "No description available"
      }}
    </p>
    <div class="card-actions justify-end">
      <app-product-action-buttons [id]="product.id!" />
    </div>
  </div>
</div>
