<div
  class="w-full hidden md:flex h-full items-center justify-between bg-base-100 text-gray-500 py-2"
>
  <div>
    <a [routerLink]="" class="btn btn-ghost text-xl flex items-center">
      <svg
        viewBox="0 0 20 20"
        class="w-5 aspect-square"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          d="M17 8h1v11H2V8h1V6c0-2.76 2.24-5 5-5c.71 0 1.39.15 2 .42A4.9 4.9 0 0 1 12 1c2.76 0 5 2.24 5 5zM5 6v2h2V6c0-1.13.39-2.16 1.02-3H8C6.35 3 5 4.35 5 6m10 2V6c0-1.65-1.35-3-3-3h-.02A4.98 4.98 0 0 1 13 6v2zm-5-4.22C9.39 4.33 9 5.12 9 6v2h2V6c0-.88-.39-1.67-1-2.22"
        />
      </svg>
      Products</a
    >
  </div>
  <app-theme-switcher />
  <div>
    <ul class="menu menu-horizontal px-1">
      @for (item of navitems; track $index) {
        <li>
          <a [routerLink]="item.link" routerLinkActive="text-gray-200">
            {{ item.title }}
          </a>
        </li>
      }
    </ul>
  </div>
</div>

<!-- <div class="hidden md:flex w-full justify-between">
  <div
    class="w-fit h-fit hidden md:flex items-center gap-2 text-lg md:text-xl font-sans font-semibold"
  >
    <span class="w-5 md:w-8 aspect-square text-gray-200">
      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="currentColor"
          d="M17 8h1v11H2V8h1V6c0-2.76 2.24-5 5-5c.71 0 1.39.15 2 .42A4.9 4.9 0 0 1 12 1c2.76 0 5 2.24 5 5zM5 6v2h2V6c0-1.13.39-2.16 1.02-3H8C6.35 3 5 4.35 5 6m10 2V6c0-1.65-1.35-3-3-3h-.02A4.98 4.98 0 0 1 13 6v2zm-5-4.22C9.39 4.33 9 5.12 9 6v2h2V6c0-.88-.39-1.67-1-2.22"
        />
      </svg>
    </span>
    <p>Products</p>
  </div>

  <ul class="hidden md:flex items-center gap-6 text-base">
    @for (item of navitems; track $index) {
      <li
        class="flex items-center gap-2 hove:text-gray-200 hover:underline hover:underline-offset-4 transition-all delay-300"
      >
        <a
          class="text-white hover:text-gray-200"
          [routerLink]="item.link"
          routerLinkActive="text-gray-200"
        >
          {{ item.title }}
        </a>
      </li>
    }
  </ul>
</div> -->
